*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container-barinf{
    background-color: #282828;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
.barra-inferiore{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    height: 90px; 
    padding: 1rem; 
}

.barra-inferiore .left{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    justify-content: center;
    
}
.barra-inferiore .left .caratteristiche{
    display: flex;
    justify-content: center;
    gap: .5rem;
}
.barra-inferiore .left .caratteristiche h4{
    margin: auto;
    color: white;
    
}

.barra-inferiore .left .like-save{
    display: flex;
    justify-content: center;
    gap: .5rem;
    margin: auto;
}

.like-save i{
    color:#5A5A5A;
}

.barra-inferiore .center{
 align-items: center;
 margin: auto;
}

.barra-inferiore .center .buttons{
    justify-content: center;
    display: flex;
   gap: 1rem;
}
.barra-inferiore .center a{
    color: white;
}
.barra-canzone{
    height: 5px;
    width: 425px;
    background-color: #5A5A5A;
    border-radius:20px ;
}

.barra-inferiore .center .durata{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    color: white;
}

.barra-inferiore .right{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}
.barra-inferiore .right a{
    color: white;
}
.barra-canzone2{
    height: 5px;
    width: 115px;
    background-color: #5A5A5A;
    border-radius:20px ;
}
/*Inizio barra laterale*/

.conteiner-barlat{
    background-color: #282828;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 90px;
    
}

.barra-laterale{
    width: 230px;
    display: flex;
    flex-direction: column;
    gap: .5rem; 
    
}
.barra-laterale .logo{
    width: 150px;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.barra-laterale .home img{
    width: 25px;
}
.barra-laterale .home{
    display: flex;
    justify-content: flex-start;
    gap: 0.7rem;
    margin-left: 1rem;
}

.home p{
    margin:auto 0;
    color: lightgray;
}

.barra-laterale .cerca img{
    width: 25px;
}

.barra-laterale .cerca{
    display: flex;
    justify-content: flex-start;
    gap: 0.7rem;
    margin-left: 1rem;
}

.cerca p{
    margin: auto 0;
    color: lightgray;
}

.barra-laterale .library img{
    width: 25px;
}

.library p{
    color: lightgray;
}

.barra-laterale .library{
    display: flex;
    justify-content: flex-start;
    gap: 0.7rem;
    margin-left: 1rem;
}
.barra-laterale h3{
    margin-left: 1rem;
    color: lightgray;
}
.barra-laterale .playlist{
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-left: 1rem;
}
.barra-laterale .playlist .fa-square-plus{
    font-size: 55px;
    color: lightgray;
}
.playlist p{
    margin: auto 0;
    color: lightgray;
}

.barra-laterale .newpl{
    margin-left: 1rem;
    color: lightgray;
}

/*barra superiore*/