*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container-barinf{
    background-color: #282828;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
.barra-inferiore{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    height: 90px; 
    padding: 1rem; 
}

.barra-inferiore .left{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    justify-content: center;
    
}
.barra-inferiore .left .caratteristiche{
    display: flex;
    justify-content: center;
    gap: .5rem;
}
.barra-inferiore .left .caratteristiche h4{
    margin: auto;
    color: white;
    
}

.barra-inferiore .left .like-save{
    display: flex;
    justify-content: center;
    gap: .5rem;
    margin: auto;
}

.like-save i{
    color:#5A5A5A;
}

.barra-inferiore .center{
 align-items: center;
 margin: auto;
}

.barra-inferiore .center .buttons{
    justify-content: center;
    display: flex;
   gap: 1rem;
}
.barra-inferiore .center a{
    color: white;
}
.barra-canzone{
    height: 5px;
    width: 425px;
    background-color: #5A5A5A;
    border-radius:20px ;
}

.barra-inferiore .center .durata{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    color: white;
}

.barra-inferiore .right{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}
.barra-inferiore .right a{
    color: white;
}
.barra-canzone2{
    height: 5px;
    width: 115px;
    background-color: #5A5A5A;
    border-radius:20px ;
}
/*Inizio barra laterale*/

.conteiner-barlat{
    background-color: #000000;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 90px;
}

.barra-laterale{
    width: 230px;
    display: flex;
    flex-direction: column; 
    
}
.barra-laterale .logo{
    width: 150px;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

.barra-laterale .home img{
    width: 25px;
}
.barra-laterale .home{
    display: flex;
    justify-content: flex-start;
    gap: 0.7rem;
    margin: 1rem 1rem;
}

.home p{
    margin:auto 0;
    color: lightgray;
}

.barra-laterale .cerca img{
    width: 25px;
}

.barra-laterale .cerca{
    display: flex;
    justify-content: flex-start;
    gap: 0.7rem;
    margin: 1rem 1rem;
}

.cerca p{
    margin: auto 0;
    color: lightgray;
}

.barra-laterale .library img{
    width: 25px;
}

.library p{
    color: lightgray;
}

.barra-laterale .library{
    display: flex;
    justify-content: flex-start;
    gap: 0.7rem;
    margin:1rem 1rem;
}
.barra-laterale h3{
    margin-left: 1rem;
    color: lightgray;
}
.barra-laterale .playlist{
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    margin:1rem 1rem;
}
.barra-laterale .playlist .fa-square-plus{
    font-size: 55px;
    color: lightgray;
}
.playlist p{
    margin: auto 0;
    color: lightgray;
}

.barra-laterale .newpl{
    margin-left: 1rem;
    color: lightgray;
}

.secondocontainer{
   position: fixed;
   bottom: 90px;
   left: 0;
   
}
.secondocontainer .first{
    display: flex;
    margin-left: 1rem;
    gap: 1rem 1rem;
}

.secondocontainer .first p{
    color: lightgray;
}

.secondocontainer .first a{
    color: lightgray;
}

.secondocontainer .second{
    display: flex;
    margin-left: 1rem;

}

.secondocontainer hr{
    margin: 1rem 1rem;
}

.secondocontainer img{
    width: 25px;
    background-color: gray;
    border-radius: 50%;
}

/*barra superiore*/

.container-barsup{
    position: fixed;
    top: 0;
    right: 0;
    left: 230px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #080B12;
    opacity: 0.9;
    height: 90px;
}

.barra-superiore{
  
}

.barra-superiore .btn{
    background-color: aliceblue;
    border-radius: 10em;
    padding: 0.5rem;
    text-decoration: none;
    color: white;
    background-color: #4d4d4d;
    padding: 0.5rem 2rem;
}

/*INIZIO MAIN*/
main{
    margin-top: 90px;
    margin-left: 230px;
    background-color: #141922;
    max-width: 1210px;
    margin-bottom: 90px;

}
.maintop{
    display: flex;
    justify-content: center;
    list-style: none; 
    max-width: 1210px;
}

.maintop li{
    margin: 1rem .7rem;
    color: lightgray;
}
main h2{
    color: white;
    margin: 1rem 1rem;
}

.canzoni-recenti{
    display: flex;
    gap: 2rem;
    margin: 2rem 1rem;
}

.canzoni-recenti img{
    max-width: 170px;
}
.canzoni-recenti h4{
    color: white;
    margin: .5rem 0;
}

.canzoni-recenti p{
    color: lightgray;
    font-size: 14px;
}

.canzoni-recenti .card{
    max-width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.punder-h2{
    color: lightgray;
    margin:.5rem 1rem;
}
.suggeriti{
    display: flex;
    gap: 2rem;
    margin: 2rem 1rem;
}

.suggeriti .card{
    max-width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.suggeriti img{
    max-width: 170px;
   
}

.suggeriti h4{
    color: white;
    margin: .5rem 0;
}

.artisti{
    display: flex;
    gap: 2rem;
    margin: 2rem 1rem;
}

.artisti .card{
    max-width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artisti img{
    max-width: 170px;
   border-radius: 50%;
}

.artisti h4{
    color: white;
    margin: .5rem 0;
}